Вариант 1/archive/twitter_corpus.csv
Вариант 1/model_rf.pkl
Вариант 1/model_rf_iter_1.pkl
Вариант 1/model_rf_iter_2.pkl
Вариант 1/model_rf_iter_3.pkl
Вариант 1/model_rf_iter_4.pkl
Вариант 1/model_rf_iter_5.pkl
Вариант 1/mat/model_rf.pkl
Вариант 1/mat/model_rf_updated.pkl
